/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

h1 {
  color: #fff;
}

#output {
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}

.card{
  text-align: center;
  padding: 10px;

  >h3{
    padding: 20px;
  }
}

.playerCard{
  background-color: rgb(138, 160, 160);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  line-height: 50px;

  >a{
    color: azure;
    text-decoration: none;
  }

  >a:hover{
    color: rgb(78, 70, 64);
  }
}